// Color Palette
$pampas: #f7f7f2;
$tussock: #b7903c;
$amaranth: #ee2852;
$gray: #8f8f8f;
$orange-roughy: #d2401e;
$mine-shaft: #303030;
$mine-shaft: #2d2d2d;
$satin-linen: #e4e4d4;

// Background Colors
$bg-color-01: #ffffff;
$bg-color-02: #ffffff4d;
$bg-color-03: #ffffff26;
$bg-color-04: #fbf9f9;
$bg-color-05: #f8f8f4cc;
$bg-color-06: #f7f7f2;
$bg-color-07: #f6f7f2;
$bg-color-08: #ebebde;
$bg-color-09: #e4e4d4;
$bg-color-10: #ffa500;
$bg-color-11: #ffa323;
$bg-color-12: #b7903c;
$bg-color-13: #888888;
$bg-color-14: #ef2853;
$bg-color-15: #ee2852;
$bg-color-16: #d2401e;
$bg-color-17: #c83b1a;
$bg-color-18: #1c1c1c;
$bg-color-19: #1b1b1b;
$bg-color-20: #00000026;

// Text Colors
$text-color-01: #ffffff;
$text-color-02: #d3cfaf;
$text-color-03: #cdcdcd;
$text-color-04: #b2b2b2;
$text-color-05: #a6a6a6;
$text-color-06: #b7903c;
$text-color-07: #b68a2c;
$text-color-08: #8f8f8f;
$text-color-09: #339966;
$text-color-10: #858585;
$text-color-11: #767676;
$text-color-12: #d2401e;
$text-color-13: #ab4027;
$text-color-14: #5a5a5a;
$text-color-15: #303030;
$text-color-16: #2d2d2d;
$text-color-17: #1b1b1b;
$text-color-18: #000000;

// Fill Colors
$fill-color-01: #ffffff;
$fill-color-02: #8f8f8f;
$fill-color-03: #ee2852;
$fill-color-04: #d2401e;
$fill-color-05: #303030;
$fill-color-06: #2d2d2d;
$fill-color-07: #000000;

// border Colors
$border-color-01: #f6f7f2;
$border-color-02: #efefe8;
$border-color-03: #e4e4d4;
$border-color-04: #b7903c;
$border-color-05: #d2401e;
$border-color-06: #1f1f1f;
